{% extends "base_app.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'hesba/css/operations.css' %}">
<link rel="stylesheet" href="{% static 'hesba/css/shell.css' %}">{% endblock %}
{% block body_class %}operations-page{% endblock %}
{% block content %}
<div class="hs-app">
{% include "partials/app_shell.html" %}
<div class="hs-main">
<main class="op-shell" id="hs-main" tabindex="-1">
  {% if messages %}
    <div class="op-messages">
      {% for message in messages %}<div class="op-message op-message-{{ message.tags|default:'info' }}">{{ message }}</div>{% endfor %}
    </div>
  {% endif %}
  {% block operation_content %}{% endblock %}
</main>
</div>
</div>
<script src="{% static 'hesba/js/shell.js' %}" defer></script>
{% endblock %}
