{% extends "base_app.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'hesba/css/master_data.css' %}">
<link rel="stylesheet" href="{% static 'hesba/css/shell.css' %}">
{% endblock %}
{% block body_class %}master-data-page{% endblock %}
{% block content %}
<div class="hs-app">
{% include "partials/app_shell.html" %}
<div class="hs-main">
<main class="md-shell" id="hs-main" tabindex="-1">
  {% if messages %}
    <div class="md-messages">
      {% for message in messages %}<div class="md-message">{{ message }}</div>{% endfor %}
    </div>
  {% endif %}
  {% block master_content %}{% endblock %}
</main>
</div>
</div>
<script src="{% static 'hesba/js/shell.js' %}" defer></script>
{% endblock %}
